.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h5{
    margin-top: 40px;
    text-decoration: underline;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 12px;
}